<div class="bg-[#1B1B1B] rounded-2xl p-2 overflow-y-auto">
  <!-- Header Section -->
  <div class="flex justify-between items-center p-4 bg-[#333333] rounded-2xl mb-3">
    <!-- Friend Navigation Links -->
    <nav class="flex space-x-4">
      <a href="/main/friends_section/friends" class="px-4 py-2 bg-[#525252] text-sm rounded-xl hover:bg-gray-700">Friends</a>
      <a href="/main/friends_section/online" class="px-4 py-2 bg-[#525252] text-sm rounded-xl hover:bg-gray-700">Online</a>
      <a href="/main/friends_section/pending" class="px-4 py-2 bg-[#525252] text-sm rounded-xl hover:bg-gray-700">Pending</a>
      <a href="/main/friends_section/blocked" class="px-4 py-2 bg-[#525252] text-sm rounded-xl hover:bg-gray-700">Blocked</a>
      <a href="/main/friends_section/addfriend" class="px-4 py-2 bg-green-500 text-sm rounded-xl hover:bg-green-600">Add Friend</a>
    </nav>
    <div class="flex items-center space-x-4 mr-4">
      <span>Online - 2</span>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>