<!-- Dropdown Toggle Button -->
<button (click)="toggle($event)" class="flex items-center justify-center bg-[#050709] hover:bg-gray-600 px-2 py-2 text-sm rounded-full">
  <!-- You can customize the toggle button icon here -->
  <img src="assets/Icons/menu-vertical.png" alt="menu" class="w-6 h-6">
</button>
<!-- Dropdown Menu -->
<div *ngIf="isOpen" class="absolute right-0 mt-2 w-40 bg-gray-800 rounded-md shadow-lg z-50">
  <button 
    *ngFor="let item of items" 
    (click)="selectItem(item, $event)"
    [ngClass]="item.class"
    class="flex items-center justify-center w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700"
  >
    <!-- Conditionally display icon -->
    <ng-container *ngIf="(item.display || 'both') !== 'label'">
      <img *ngIf="item.icon" [src]="item.icon" alt="icon" class="w-5 h-5 mr-1">
    </ng-container>
    <!-- Conditionally display label -->
    <ng-container *ngIf="(item.display || 'both') !== 'icon'">
      <span class="flex items-center justify-center">{{ item.label }}</span>
    </ng-container>
  </button>
</div>