<div class="flex flex-col items-center justify-center m-4 sm:m-8">
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-6 sm:mb-10 text-white text-center drop-shadow-md">Forgot Password</h2>
  <div class="h-auto sm:h-[60vh] w-[80vw] sm:w-[60vw] lg:w-[40vw] xl:w-[30vw] flex items-center justify-center shadow-lg rounded-2xl bg-gray-600/10 backdrop-blur-lg p-4 sm:p-0">
    <form class="w-full sm:w-3/4 max-w-sm flex flex-col">
      <div class="mb-4">
        <label for="email" class="block text-base sm:text-lg md:text-xl font-light text-slate-50">Email</label>
        <input 
          type="email" 
          id="email" 
          class="mt-1 block w-full h-7 sm:h-10 p-2 bg-white/20 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-500 focus:border-transparent"
          required
        />
      </div>
      <button 
        type="submit"
        class="w-3/4 sm:w-1/2 font-medium text-base sm:text-lg md:text-xl bg-[#F3C70D] text-white py-2 px-4 rounded-3xl translate-y-1 hover:translate-y-0 hover:drop-shadow-xl focus:translate-y-1 focus:drop-shadow-md mx-auto drop-shadow-md transition-all duration-300 ease-in-out"
      >
        Send OTP
      </button>
      <p class="text-xs sm:text-sm md:text-base text-slate-100 font-thin mt-6 text-center">Remember Password? 
        <a href="auth/login" class="text-gray-700 hover:text-blue-600 hover:cursor-pointer">Login</a>
      </p>
    </form>
  </div>
</div>
