<div class="radial-gradient m-0" style="
background: 
  radial-gradient(circle, #F3C70D, #F39B0D), 
  url('assets/images/auth-bg.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
">
  <header class="flex p-7">
    <a href="/" class="flex gap-2 justify-center items-center">
      <img src="assets/images/Logo-bg-white.png" alt="" class="h-12 rounded-2xl">
      <p class="font-black text-3xl text-white">hive</p>
    </a>
  </header>
  <router-outlet></router-outlet>
</div>