
<!-- Confirmation Modal -->
<app-common-modal 
  *ngIf="confirmModalVisible"
  title="Confirmation"
  message="Are you sure you want to Unblock this user"
  (confirmed)="handleConfirmation()"
  (cancelled)="cancelConfirmation()">
</app-common-modal>


<!-- Search Bar Section (Make it Sticky) -->
<div class="sticky top-0 bg-[#1b1b1b] z-10 transition-transform duration-300">
  <div class="flex items-center p-2">
    <input type="text" placeholder="Search Users..." [(ngModel)]="searchTerm" (input)="searchBlockedUsers()"
      class="flex-1 bg-black text-white placeholder-gray-400 px-4 py-2 rounded-2xl focus:outline-none focus:ring-2 focus:ring-green-500" />
  </div>
</div>

<!-- Show error if no blocked users found (Only after searching) -->
<div *ngIf="hasSearched && filteredBlockedUsers.length === 0" class="text-gray-400 mt-4">
  No blocked users found.
</div>

<!-- Blocked Users List -->
<app-common-table 
[data]="filteredBlockedUsers"
  [columns]="tableColumns"
  [primaryActions]="primaryActions">
</app-common-table>
